.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../public/ryan-theaker-osrs-necropolis-04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}